 @media screen and (max-width: 1299px) {  
    
.header-footer{      
    padding: 0;   
    margin: 0;   
}

.header-menu {
    padding: 0 18px 0 18px;
    height: 57px;
}

.nav1 {
    display: none;
}

.buttonnav {
    display: none;
}

.navtel {
    color: white;
    margin: 0;
}

.section1 { 
    height: 476px;
}

.container1{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}

.photo {
    height: 476px;  
    padding-top: 0px;  
}

.header1 {    
    margin: 85px auto 0 auto;
    max-width: 300px;
    font-size: 23px;
    line-height: 132.83%; 
}

.intro{
    margin-top: 16px; 
    margin-bottom: 32px;  
    font-size: 14px;
    line-height: 135.84%;
    max-width: 100%;
    text-align: left;
}

.button-s1-1 {   
    margin-top: 26px;    
    margin-right: 0;
    width: 100%;  
    height: 51px;
}

.button-mb {
    display: block;
}

.button-desktop {
    display: none;
}

.section2 {        
    background: #131313;
    padding-bottom: 0; 
}

.container2 {  
    height: 100%;
    padding: 0 18px 40px 18px;
}

.sec2 {
    display: none;
}

.sec3 {
    flex-direction: column;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.textwrapper {
    margin-top: 36px;
}

.header2 {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
}

.text2 {
    margin: 22px auto 36px auto;    
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    max-width: 300px;
}

.admiral-foto {
    display: none;
}

.slider-foto-mobile {
    position: relative;
    display: flex;
    justify-content: space-between;          
    align-items: center;    
}

.slider-foto-mobile-1 {    
    width: 100%;
}

.mobile-slider-right {
    position: absolute;
    top: 45%;
    right: 14px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;    
}

.mobile-slider-left {
    position: absolute;
    top: 45%;
    left: 14px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;    
}

.mb-active:active {
    background: none;
    border: 1px solid white;
    cursor: pointer;
}

.mb-active:hover {
    cursor: pointer;
}

.grid-wrapper {
    margin-top: 36px;       
    column-gap: 10px;
}

.gridheader {    
    font-size: 14px;
    line-height: 138.6%;
}

.gridtext {    
    font-size: 11px;
    line-height: 18px;
    margin-top: 13px;
}

.slider-arrows-wrapper {
    display: none;
}

.online-wrapper { 
    padding-top: 58px;
}

.online-control {
    font-size: 22px;
    line-height: 138.6%;
}

.camera-icon {   
    margin-top: 20px; 
} 

.measure-section {
    display: none;
}

.section3 {
    padding: 0;
    margin: 0;
    background: #131313;
}

.container3 {
    margin: 0;  
    padding: 0 18px 0 18px;   
}

.mb-container-3 {
    justify-content: flex-start;
    background-color: #FFFFFF;   
    width: 100%;
    height: auto;     
    padding: 0;     
    margin: 0;      
}

.cam-video-wrapper {
    margin: 0;
}

.cam-video {    
    width: 100%;
    height: 100%;
}

.cam-video:after {
    content: "";	    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: rgba(0, 0, 0, 0.8); 
}

.separation {
    margin: 28px auto 0 auto;
}

.under-camera-text {
    margin: 21px auto 0 auto;
    font-size: 11px;
    line-height: 169.8%;
    text-align: center;
    color: #FFFFFF;
}

.feedback-block {
    width: 100%;
    margin: 61px 0 0 0;    
}

.margin-top61 {
    margin-top: 61px;
}

.margin-top174 {
    margin-top: 174px;
}

.margin-top24 {
    margin-top: 24px;
    margin-bottom: -20vh;
    z-index: 2;
}

.margin-top-mb52 {
    margin-top: 52px;
}

.input-label {
    color: rgba(255, 255, 255, 0.5)
}

.input-field {
    font-size: 14px;
    line-height: 138.72%;
    width: 100%;
    background: none;   
    border-bottom: 1px solid rgba(54, 54, 54, 1);   
    color: #FFFFFF;
}

.input-field::placeholder {
    color: white;
}

.buttom-desktop {
    display: none;
}

.buttom-mb {
    display: block;
    width: 100%;
    margin-top: 62px;
    margin-bottom: -26px;
}

.submit-mb{
    width: 100%;
}

.checkbox-field {
    justify-content: flex-start;
}

.checkbox-text {      
    color: #FFFFFF;
}

.submit-group {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 28px;
}

.repair-types-wrapper { 
    margin-top: 83px;
    justify-content: center; 
    background-color: #FFFFFF;
}

.repair-types {
    margin: 0;
    flex-direction: column;
    padding: 0 18px 0 18px; 
}

.redecorating {
    width: 100%;   
    margin: 0;
    margin: 0 0 175px 0;
}

.redecorating-fx {    
    width: 100%;
    height: 100%;
    margin: 0;
}

.repair-list {
    height: 241px;
    width: 270px;
    top: 75%;
    left: 0;
    margin: 0;
}

.redecor-works {  
    margin-left: 31px;
    font-size: 13px;
    line-height: 169.8%;
}

h4 {
    font-size: 15px;
    line-height: 138.6%;
}

.section4 {
    background: none;
}

.container4 {
   height: 100%;  
    margin: 0; 
    padding: 0 18px;
}

.left-top, .left-bottom, .right-top, .right-bottom {
    display: none;
}

.decor-styles {
    position: static;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.section5 {
    display: none;
}

.section-6 {           
    background:  #181818; 
}    

.back-foto {
   display: none;   
}

.back-gradient {    
    display: none;   
}

.container-6 {
    position: static;
    flex-direction: column;
    padding: 0 18px 0 18px;   
    height: auto;
}

.form-3 {
    position: static;
}

.feedback-3 {
    position: static;
    width: 100%;
    height: 100%;
}

.submit-group-3 {
    flex-direction: column;       
    width: 100%;
    margin: 52px auto 0 auto;
}

.input-field-3 {
    width: 100%;
}

.map-location {
    margin: 46px auto 0 auto;
    position: static;   
    width: auto; 
    height: auto;   
}

.contacts-map {
    margin: 44px auto 23px auto;
    position: static;
}

.contact-icons {
    margin: 0 auto 47px auto;
    width: 98px;
    position: static;
}

.mail {   
    width: 39px;
    height: 39px; 
}

.inst {
    width: 39px;
    height: 39px;   
}

.footer  {
    display: none;
}

} 